# literals to search in column headers
approving = 'strengths of this experience'
critical = 'better learning experience'
additional = 'Nothing further to add'

comment_type = [approving, critical, additional]

# underweight approving comments, slightly overweight critical comments
approving_weighting = .48
critical_weighting = 1.1
additional_weighting = .99

comment_weighting = [approving_weighting, critical_weighting, additional_weighting]

e = .001

medium_cut = .05 # seems to be standard in literature for VADER compound score
high_cut = .12 # guess at reasonable value
adjustment_value = .03 + e # four net positive/negative statements imply high cutoff

overlong = 300 # no. of words
lengthy = 125
brief = 25
